#main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid;
  margin-top: 25px;
}

#card_container{
  justify-content: space-between;
  flex-direction: row;
}

.cards{
  position: relative;
  width: 30%;
  height: 50vh;
  border: 1px solid;
}

.title_card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  transition: 0.2s;
  z-index: 2;
}

.title_card:hover{
  opacity: 0;
}

.content_card{
  width: 100%;
  height: 100%;
  z-index: 1;
}

#contact_container{
  flex-direction: column;
  height: 25vh;
}

.btn-contact{
  width: 250px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  outline: none;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  transition: 0.4s
}

@media screen and (max-width: 1500px){
  #card_container{
    flex-direction: column;
  }
  .cards{
    width: 50%;
    height: 45vh;
    border: 1px solid;
    margin-top: 25px;
  }
}