#main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid;
  margin-top: 25px;
}

#card_container{
  justify-content: space-between;
  flex-direction: row;
  padding-top: 25px;
}

.cards{
  position: relative;
  width: 30%;
  height: 50vh;
}

.title_card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FAC564;
  transition: 0.2s;
  z-index: 2;
}

.title_card:hover{
  opacity: 0;
}

.title_content_card{
  display: none;
}

.list_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.desc{
  text-align: center;
  height: 20%;
}

.list{
  width: 50%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.content_card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 1;
}

#contact_container{
  flex-direction: column;
  height: 25vh;
}

.btn-contact{
  width: 250px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  outline: none;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  transition: 0.4s
}

@media screen and (max-width: 1500px){
  #card_container{
    flex-direction: column;
  }
  .cards{
    width: 65%;
    height: 50vh;
    margin-top: 25px;
  }
}

@media screen and (max-width: 800px){
  .title_card{
    display: none;
  }

  .cards{
    width: 100%;
    height: 80vh;
    border: none;
  }

  .title_content_card{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 10%;
  }

  .content_card{
    background: #FAC564;
  }

  .list_container{
    flex-direction: column;
  }

  .list{
    width: 100% !important;
    float: none;
  }

  .desc{
    height: 10%;
  }
}