.banner {
	width: 100%;
	background: yellow url(../img/banner.jpg) fixed no-repeat;
	background-size: 100%
}

.banner .hidden {
	display: block;
	visibility: hidden;
	width: 100%
}

.banner .banner-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 33vh;
	position: absolute;
	color: #fff;
	text-align: center
}

.title {
	font-size: 60px;
	font-weight: normal;
	font-family: "Bodoni Bold"
}

.subtitle {
	font-size: 40px;
	font-weight: normal;
	font-family: "Bodoni Bold"
}