footer {
	width: 100%;
	background-color: #4f3c3b;
	color: #fff;
	text-align: center;
	font-family: "Roboto Slab Regular"
}

footer .links {
	display: flex;
	justify-content: center;
	height: 40px;
	line-height: 40px;
	padding: 10px 0 20px 0;
	font-size: 20px
}

footer .copyright {
	height: 40px;
	line-height: 40px;
	font-size: 16px
}

.links span {
	padding: 0 20px;
	border-right: 1px solid #fff;
}

.links span:last-of-type {border-right: none}

.fb {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url(../img/fb.png);
	background-size: cover;
	transition: 0.2s
}

.fb:active {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9)
}