header {
	display: block;
	width: 100%;
	height: 60px;
	position: fixed;
	border-bottom: 1px solid #5b4c41;
	background-color: #321f12;
	transition: 0.2s
}

.logo {position: absolute}

.logo img {
	width: 115px;
	height: 60px
}

.menu {
	visibility: hidden;
	width: 60px;
	height: 60px;
	float: right;
	background-image: url(../img/menu.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	transition: 0.2s
}

.menu.opened {
	background-color: #000;
	background-image: url(../img/cross.svg)
}

nav {
	visibility: visible;
	height: 60px;
	right: 0;
	position: absolute;
	opacity: 1;
	transition: 0.2s
}

nav.opened {
	visibility: visible;
	opacity: 1
}

nav a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin: 10px;
	padding: 0 20px;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	letter-spacing: 2px;
	transition: 0.5s
}

nav a:active {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.1s
}