/* Alvaro Condensed */
@font-face {
	font-family: Alvaro;
	src: url(AlvaroCondensed.otf) format("opentype")
}

/* Bodoni Bold */
@font-face {
	font-family: Bodoni;
	src: url(BodoniBold.ttf) format("truetype")
}

/* Roboto Slab Regular */
@font-face {
	font-family: "Roboto Slab";
	src: url(RobotoSlabRegular.ttf) format("truetype")
}



html, body {
	font-size: 20px;
	font-family: "Roboto Slab"
}

nav a,
input[type="submit"] {
	font-size: 30px;
	font-family: Alvaro;
	letter-spacing: 2px
}

nav a:active,
input[type="submit"]:active {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.1s
}

input, textarea {
	font-size: 18px;
	font-family: "Roboto Slab"
}

::selection {background-color: rgba(0, 0, 0, 0.2)} /* text selection */

.title,
.subtitle {
	display: block;
	font-weight: normal;
	font-family: Bodoni
}

.title {
	margin-bottom: 20px;
	font-size: 60px
}

.subtitle {
	margin: 20px 0;
	font-size: 40px
}

.title.main,
.subtitle.main {
	display: none;
	margin: 0;
	padding: 0 25px
}

.subtitle.main {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #fff
}

.copyright {font-size: 16px}
.creators {font-size: 12px}

.logo:hover,
.fb:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2)
}